@font-face {
  font-family: "Nabla";
  font-display: "swap";
  src: url("./fonts/Nabla.ttf") format("truetype");
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

:not(.color-text) {
  font-family: system-ui;
}

body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow: hidden;
}

main, textarea {
  background-color: #273a70;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

textarea {
  border: none;
  caret-color: #f64f2c;
  outline: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 1.5px;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #894b01;
}

h1, h2, label {
  color: white;
}

h1 {
  margin-bottom: 0;
}

h2, label {
  font-weight: 500;
}

h2 {
  color: #d5dbed;
  font-size: 1.25em;
  margin: 0;
}

header, .settings {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.settings > label {
  margin-top: 1em;
  margin-bottom: 0.25em;
  color: white;
}

.color-text {
  font-family: "Nabla";
  font-size: 150px;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: #6d7ca7;
  min-width: 57vw;
  height: 3px;
  outline: none;
  margin-top: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 50%;
  cursor: ew-resize;
  width: 15px;
  height: 15px;
  transition: 0.1s;
}

::-moz-range-thumb {
  background-color: white;
  border-radius: 50%;
  cursor: ew-resize;
  border: none;
  width: 15px;
  height: 15px;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.25);
}

.slider::-webkit-slider-thumb:active {
  transform: scale(1.5);
}
